{% extends 'base.html.twig' %}

{% block title %}Edit Reservation{% endblock %}

{% block body %}
    <style>
    .scherm { position: absolute; height: 100vh; width: 100%; text-align: center}
</style>
    {% if is_granted('ROLE_ADMIN') %}
    <h1>Edit Reservation</h1>

    {{ include('reservation/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('reservation_index') }}">back to list</a>

    {{ include('reservation/_delete_form.html.twig') }}
    {% else %}
        <a href="/"><div class="scherm">U mag niet op deze pagina zijn. Klik op het scherm om terug te gaan</div></a>
    {% endif %}
{% endblock %}
